* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
      92.01deg,
      rgba(36, 11, 54, 0.608) -5.1%,
      rgba(195, 20, 50, 0) 109.1%
    ),
    #33444c;
  color: #fff;
  padding: 50px 30px;
  max-width: 100%;
}

.app {
  text-align: center;

  &__logo {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #ffffff;

    &--span {
      color: #fe2f2f;
    }
  }

  &__input {
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    text-transform: capitalize;
  }

  &__table {
    width: 70%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    margin: 3rem auto;
    text-align: left;

    th {
      padding: 2rem;
      background-color: #222d33;
    }

    td {
      padding: 1rem 2rem;

      &:first-child {
        display: none;
      }
    }
  }

  &__button {
    margin-left: 15%;
    text-align: left;

    &--text {
      font-weight: 700;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: #ffffff;
      text-transform: capitalize;
      background-color: #fe2f2f;
      cursor: pointer;
    }

    &--icon {
      background-color: transparent;
      border: none;
      outline: none;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__icon {
    margin: 1rem;
  }
}
